.stats {
    font-size: 1.6rem;
    font-family: 'Courier New', Courier, monospace;
    background: #D6B5EE;
    padding: 0.2rem 0.8rem;
    border-radius: 999px;
    border-color: #FBFAFF;
    p:hover {
        color:#081D56
    }
  
  };