@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: black;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    
  }
}

.section-wrapper {
  position: relative;
    /* z-index: 10; */
  max-width: 1150px;
  margin: auto;
  padding: 6.6rem;
  overflow: hidden;
  
  
}

.section-wrapperb {
  position: relative;
  /* z-index: 10; */
  max-width: 1500px;
  margin: auto;
  padding: 6.6rem;
  overflow: hidden;
}

.section-wrapperp {
  /* z-index: 10; */
  max-width: 1500px;
  margin: auto;
  padding: 6.6rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 7.2rem 2.4rem;
  }
}
